* {
  box-sizing: border-box;
}

.header-box {
  background-color: linen;
  height: 50px;
  width: 100vw;
  display: flex;
  justify-content: space-between;
}

h2 {
  padding-left: 20px;
  line-height: 50px;
  font-size: 35px;
  font-weight: bold;
  color: lightgray;
  letter-spacing: 0.05em;
}

span {
  color: skyblue;
}

ul {
  display: flex;
  padding-right: 10px;
}

li {
  text-decoration: none;
  line-height: 50px;
  padding: 0 8px;
  font-size: 18px;
  color: gray;
}

a {
  text-decoration: none;
}

.main {
  width: 100vw;
  height: 600px;
  background-color: linen;
}

.message-box {
  position: relative;
  margin: 0;
  padding: 0;
}

.sea {
  width: 100vw;
  height: 80vh;
}

.box {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.message {
  color:#FF9872;
  font-size: 50px;
  letter-spacing: .1em;
  position: absolute;
  top: 190px;
  left: 100px;
}

.footer-box {
  text-align: center;
}






/*!
 * YUI 3.5.0 - reset.css (http://developer.yahoo.com/yui/3/cssreset/)
 * http://cssreset.com
 * Copyright 2012 Yahoo! Inc. All rights reserved.
 * http://yuilibrary.com/license/
 */
/*
    TODO will need to remove settings on HTML since we can't namespace it.
    TODO with the prefix, should I group by selector or property for weight savings?
*/
html{
  color:#000;
  background:#FFF;
}
/*
  TODO remove settings on BODY since we can't namespace it.
*/
/*
  TODO test putting a class on HEAD.
      - Fails on FF.
*/
body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
form,
fieldset,
legend,
input,
textarea,
p,
blockquote,
th,
td {
  margin:0;
  /* padding:0; */
}
table {
  border-collapse:collapse;
  border-spacing:0;
}
fieldset,
img {
  border:0;
}
/*
  TODO think about hanlding inheritence differently, maybe letting IE6 fail a bit...
*/
address,
caption,
cite,
code,
dfn,
em,
strong,
th,
var {
  font-style:normal;
  font-weight:normal;
}

ol,
ul {
  list-style:none;
}

caption,
q:before,
q:after {
  content:'';
}
abbr,
acronym {
  border:0;
  font-variant:normal;
}
/* to preserve line-height and selector appearance */
sup {
  vertical-align:text-top;
}
sub {
  vertical-align:text-bottom;
}
input,
textarea,
select {
  font-family:inherit;
  font-size:inherit;
  font-weight:inherit;
}
/*to enable resizing for IE*/
input,
textarea,
select {
  *font-size:100%;
}
/*because legend doesn't inherit in IE */
legend {
  color:#000;
}
/* YUI CSS Detection Stamp */
#yui3-css-stamp.cssreset { display: none; }
